<section fxLayoutAlign="center">
  <mat-card>
    <br><br>
    <h2>Register on "My Angular Library"</h2>
    <br><br>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"  #f="ngForm" (ngSubmit)="registerUser(f)">
      <mat-form-field>
        <mat-label>Username:</mat-label>
        <input type="text" matInput placeholder="User login..." value="" ngModel name="user_uname" required minlength="4" #usernameInput="ngModel">
        <mat-error *ngIf="usernameInput.hasError('required')">The 'User name' must be entered</mat-error>
        <mat-error *ngIf="!usernameInput.hasError('required')">The entered 'User name' is not valid</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>First name:</mat-label>
        <input type="text" matInput placeholder="First name..." value="" ngModel name="user_firstname" required minlength="2" #firstNamelInput="ngModel">
        <mat-error *ngIf="firstNamelInput.hasError('required')">The 'First name' must be entered</mat-error>
        <mat-error *ngIf="!firstNamelInput.hasError('required')">The 'First name' must be at least 2 chars long</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last name:</mat-label>
        <input type="text" matInput placeholder="Last name..." value="" ngModel name="user_lastname" required minlength="2" #lastNamelInput="ngModel">
        <mat-error *ngIf="lastNamelInput.hasError('required')">The 'Last name' must be entered</mat-error>
        <mat-error *ngIf="!lastNamelInput.hasError('required')">The 'Last name' must be at least 2 chars long</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>E-mail:</mat-label>
        <input type="email" matInput placeholder="User e-mail..." value="" ngModel name="user_email" email required #emailInput="ngModel">
        <mat-error *ngIf="emailInput.hasError('required')">The 'E-mail' must be entered</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">The entered e-mail is not valid</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input type="password" matInput placeholder="Password..." value="" ngModel name="user_password" required minlength="8" #passwordInput="ngModel">
        <mat-error *ngIf="passwordInput.hasError('required')">The 'Password' must be entered</mat-error>
        <mat-error *ngIf="!passwordInput.hasError('required')">The 'Password' must be at least 8 chars long.</mat-error>
      </mat-form-field><br>

      <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid"><span class="material-icons">account_circle</span>&nbsp;Register</button>
      <br><br>
    </form>
  </mat-card>
</section>
